html{
    font-size: 63.5%;
    box-sizing: border-box;
}

*::before, *::after, *{
    box-sizing: inherit;
}

body{
    font-size: 1.5rem;
}

.compound-header{
    top: 0;
    position: absolute;
    transition-property: top;
    transition-duration: 2s;
    background-color: white;
    width: 100%;
}

@media(min-width: 768px){
    .compound-header{
        position: relative;
        top: 0 !important;
    }
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header div{
    border-bottom: .1rem #efefef solid;
    width: 100%;
    padding-bottom: 1.5rem;
    padding-top: .5rem;
}

.header-toggle-button{
    padding: 1rem 0;
    height: 3rem;
    margin: auto 0;
}

@media(min-width: 768px){
    .header-toggle-button{
        display: none;
    }
}

.header-toggle-button div{
    width:2rem;
    margin: 0 auto;
}